.cta__section{
background-image: url("../img/footer.png");
object-fit:cover;
min-height: 700px;
max-height: 700px;
width: 100%;
display: flex;
align-items: center;
justify-content: space-around;
background-size: cover;
background-repeat: no-repeat;
}

.cta__section h3{
    color: #eab308;
    font-size: 2.5rem;
    margin-bottom: 20px;
}


.cta__text{
    margin-left: 5vw;
    width: 600px;
}

.cta__button{
    background-color: #FCD6A0;
    color: #991B1B;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 10px;
}